<div class="accountDetailList-container">
    <p class="accountDetailList-title">My Account</p>

    <div class="accountDetailList">
        <a
            href="/account/update-profile"
            class="accountDetailList-item"
        >
            <div class="accountDetailList-itemImage">
                <img
                    src="/icons/profile-user-avatar.svg"
                    alt=""
                />
            </div>

            <div>
                <p class="accountDetailList-itemTitle">My Profile</p>
                <p>Edit your basic details</p>
            </div>
        </a>
        <a class="accountDetailList-item">
            <div class="accountDetailList-itemImage">
                <img
                    src="/icons/address-book-thin.svg"
                    alt=""
                />
            </div>

            <div>
                <p class="accountDetailList-itemTitle">My Addresses</p>
                <p>Manage your saved addresses</p>
            </div>
        </a>
        <a class="accountDetailList-item">
            <div class="accountDetailList-itemImage">
                <img
                    src="/icons/heart.svg"
                    alt=""
                />
            </div>

            <div>
                <p class="accountDetailList-itemTitle">My Wishlist</p>
                <p>Have a look at your favourite products</p>
            </div>
        </a>
        <a class="accountDetailList-item">
            <div class="accountDetailList-itemImage">
                <img
                    src="/icons/box.svg"
                    alt=""
                />
            </div>

            <div>
                <p class="accountDetailList-itemTitle">My Orders</p>
                <p>View, track, cancel orders and by again</p>
            </div>
        </a>
    </div>
</div>
