<% for(let i = 0; i < name.length; i++) { %>
<div class="cartItem">
    <div class="cartItem-thumbnail">
        <img
            src="/img/273135_0_yubjhv.webp"
            alt=""
        />
    </div>

    <div class="cartItem-details">
        <div class="cartItem-title">
            noise NoiseFit Curve <%= name[i] %> with Bluetooth Calling (35.05mm TFT Display, IP68
            Water Resistant, Jet Black Strap)
        </div>

        <div class="cartItem-ratings">
            <!-- rating stars in each span -->
            <span></span>
        </div>

        <!-- here goes the prices of md and sm screens -->
        <div class="cartItem-pricesMd">
            <div class="itemSP">₹999.00</div>
            <div class="itemSPLabel">(Incl. all Taxes)</div>
            <div class="itemBeforeDiscount">MRP ₹5,999.00</div>
            <div class="itemDiscountAmount">(Save ₹5,000.00)</div>
        </div>

        <div class="cartItemDeliveryDate">
            <p>Standard Delivery by</p>
            <p>5 October 2024 | Free</p>
        </div>

        <div class="cartItem-btns">
            <div
                class="cartItem-btn"
                id=""
            >
                Move to Wishlist
            </div>
            <div class="cartItem-btn">Remove</div>
        </div>
    </div>

    <div class="cartItem-pricesLg">
        <div class="itemSP">₹999.00</div>
        <div class="itemSPLabel">(Incl. all Taxes)</div>
        <div class="itemBeforeDiscount">MRP ₹5,999.00</div>
        <div class="itemDiscountAmount">(Save ₹5,000.00)</div>
    </div>
</div>
<% } %>
