<% for(let i = 0; i < 4; i++) { %>
<div class="collapsible-sec">
    <div class="collapsible-header">
        <p class="collapsible-title">Rating</p>
        <div class="collapsible-arrow-icon">
            <img
                src="/icons/arrow-down.svg"
                alt=""
            />
        </div>
    </div>

    <div class="collapsible-body">
        <p>
            Dynamic Island bubbles up alerts and Live Activities so you don’t miss them while youre
            doing something else. You can see who’s calling, track your next ride, check your flight
            status and so much more
        </p>
    </div>
</div>
<% } %>
