<header class="header">
    <div class="header-sec">
        <div class="brand-btns">
            <div class="header-brand">
                <div
                    class="menu-btn"
                    id="menu-btn"
                >
                    <img
                        src="/icons/menu-icon.svg"
                        alt=""
                    />
                </div>
                <div class="brand-name">crom<span>a</span></div>
            </div>

            <div class="header-btns">
                <div
                    class="header-btn signin-btn"
                    id="profile-btn"
                >
                    <img
                        src="/icons/user-icon.svg"
                        alt=""
                    />
                </div>
                <div class="header-btn cart-btn">
                    <img
                        src="/icons/cart-icon.svg"
                        alt=""
                    />
                </div>
            </div>
        </div>

        <div class="header-search">
            <input
                class="header-search-input"
                type="text"
                placeholder="What are you looking for?"
            />
            <div class="header-search-btn">
                <img
                    src="/icons/search-alt-icon.svg"
                    alt=""
                />
            </div>
        </div>

        <div class="lg-header-btns">
            <div class="address-input">
                <img
                    src="/icons/location-pin-icon.svg"
                    alt=""
                />
                <p>Mumbai, 400049</p>
                <img
                    src="/icons/edit-pencil.svg"
                    alt=""
                />
            </div>
            <div class="header-btn">
                <img
                    src="/icons/user-icon.svg"
                    alt=""
                />
            </div>
            <div class="header-btn">
                <img
                    src="/icons/cart-icon.svg"
                    alt=""
                />
            </div>
        </div>
    </div>

    <aside
        class="menu-sec"
        id="main-menu-sec"
    >
        <div class="menu-title">
            Shop by category
            <div
                class="account-menu-ctrl-btn"
                id="mainMenu-closeBtn"
            >
                <img
                    src="/icons/cancel-close.svg"
                    alt=""
                />
            </div>
        </div>
        <ul class="menu-list">
            <li class="menu-listItem">
                <a href="#">
                    <p>Computers & Tablets</p>
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </a>
            </li>
            <li class="menu-listItem">
                <a href="#">
                    <p>Computers & Tablets</p>
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </a>
            </li>
            <li class="menu-listItem">
                <a href="#">
                    <p>Computers & Tablets</p>
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </a>
            </li>
            <li class="menu-listItem">
                <a href="#">
                    <p>Computers & Tablets</p>
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </a>
            </li>
            <li class="menu-listItem">
                <a href="#">
                    <p>Computers & Tablets</p>
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </a>
            </li>
        </ul>
    </aside>

    <div
        class="account-menu-container"
        id="account-menu-container"
    >
        <div class="account-menu-title">
            <p>My Account</p>
            <div
                class="account-menu-ctrl-btn"
                id="close-menu"
            >
                <img
                    src="/icons/cancel-close.svg"
                    alt=""
                />
            </div>
        </div>

        <ul class="account-menu">
            <li class="account-menu-item">
                <div class="menu-item-icon">
                    <img
                        src="/icons/profile-user-avatar.svg"
                        alt=""
                    />
                </div>
                <div class="menu-item-details">
                    <p class="menu-item-name">My Profile</p>
                    <p class="menu-item-description">Edit your basic details</p>
                </div>
            </li>
            <li class="account-menu-item">
                <div class="menu-item-icon">
                    <img
                        src="/icons/profile-user-avatar.svg"
                        alt=""
                    />
                </div>
                <div class="menu-item-details">
                    <p class="menu-item-name">My Profile</p>
                    <p class="menu-item-description">Edit your basic details</p>
                </div>
            </li>
            <li class="account-menu-item">
                <div class="menu-item-icon">
                    <img
                        src="/icons/profile-user-avatar.svg"
                        alt=""
                    />
                </div>
                <div class="menu-item-details">
                    <p class="menu-item-name">My Profile</p>
                    <p class="menu-item-description">Edit your basic details</p>
                </div>
            </li>
        </ul>
    </div>

    <div
        class="backdrop"
        id="backdrop"
    ></div>
</header>
