<div class="formContainer">
    <div class="signinDialog-header">
        <a href="/login">Login</a>
        <a href="/signup">Create Account</a>
        <span>or</span>
    </div>

    <form
        class="signinForm"
        action=""
    >
        <label for="">Enter your email</label>
        <input
            class="signinForm-emailInput"
            type="text"
            placeholder="Email"
        />
        <label for="">Enter your password</label>
        <input
            class="signinForm-emailInput"
            type="password"
            placeholder="Password"
        />

        <label
            class="signinForm-rememberLabel"
            for="remember-me-checkbox"
        >
            <input
                class="signinForm-rememberInput"
                id="remember-me-checkbox"
                type="checkbox"
            />
            Keep me signed in
        </label>

        <p class="signinForm-termsAndConditions">
            By continuing you agree to our
            <a href="">Terms of Use</a> &
            <a href="">Privacy Policy</a>
        </p>

        <button
            class="signinForm-submitBtn"
            type="submit"
        >
            Log in
        </button>
    </form>
</div>
