<div class="product-details">
    <div class="product-hero">
        <div class="productThumbnail-list">
            <div class="productThumbnail-listItem thumbnail-active">
                <img
                    src="/img/300652_5_lgpprx.webp"
                    alt=""
                />
            </div>
            <div class="productThumbnail-listItem">
                <img
                    src="/img/300652_4_fuogmz.webp"
                    alt=""
                />
            </div>
            <div class="productThumbnail-listItem">
                <img
                    src="/img/300652_5_lgpprx.webp"
                    alt=""
                />
            </div>
            <div class="productThumbnail-listItem">
                <img
                    src="/img/300652_5_lgpprx.webp"
                    alt=""
                />
            </div>
        </div>

        <div class="product-img-container">
            <div class="product-reaction-btns">
                <div class="product-reaction-btn">
                    <img
                        src="/icons/heart.svg"
                        alt=""
                    />
                </div>
                <div class="product-reaction-btn">
                    <img
                        src="/icons/share-svgrepo-com (1).svg"
                        alt=""
                    />
                </div>
            </div>

            <div class="product-img">
                <div class="product-img-btn">
                    <img
                        src="/icons/arrow-left.svg"
                        alt=""
                    />
                </div>
                <img
                    class="product-main-img"
                    src="/img/300652_0_ncocr2.webp"
                />
                <div class="product-img-btn">
                    <img
                        src="/icons/arrow-right.svg"
                        alt=""
                    />
                </div>
            </div>

            <div class="product-img-indicator">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="product-description">
        <p class="product-title">Apple iPhone 16 Pro (256GB, Natural Titanium)</p>

        <div class="product-rating-and-review">
            <span>3.4 </span>
            <a href="#">(69 Ratings & 27 Reviews)</a>
        </div>

        <div class="product-price-sec">
            <div class="selling-price">
                <p>&#8377; 71,290</p>
                <p>(Incl. all taxes)</p>
            </div>
            <span>or</span>
            <div class="emi-price">
                <p>&#8377; 3,290/month</p>
                <a href="#">EMI Options</a>
            </div>
        </div>

        <div class="product-features-selection">
            <div class="product-feature">
                <p class="product-feature-name">Brand color</p>
                <div class="product-feature-options">
                    <div class="product-feature-option">Black</div>
                    <div class="product-feature-option">Green</div>
                    <div class="product-feature-option">Blue</div>
                    <div class="product-feature-option">Red</div>
                </div>
            </div>
            <div class="product-feature">
                <div class="product-feature-name">Internal storage</div>
                <div class="product-feature-options">
                    <div class="product-feature-option">128GB</div>
                    <div class="product-feature-option">256GB</div>
                    <div class="product-feature-option">512GB</div>
                    <div class="product-feature-option">1TB</div>
                </div>
            </div>
        </div>

        <div class="product-key-features">
            <p>Key Features</p>
            <ul class="product-key-features-list">
                <li class="product-key-feature">
                    Display: 6.1 inches (15.54 cm), Super Retina XDR Display
                </li>
                <li class="product-key-feature">Memory: 128GB ROM</li>
                <li class="product-key-feature">Processor: Apple A16 Bionic Chip, Hexa Core</li>
                <li class="product-key-feature">
                    Camera: 48 MP + 12 MP Dual Rear & 12 MP Front Camera
                </li>
                <li class="product-key-feature">Battery: 15W MagSafe Wireless Charging</li>
                <li class="product-key-feature">USP: Dynamic Island, IP68 Water Resistant</li>
                <li class="product-key-feature">
                    Display: 6.1 inches (15.54 cm), Super Retina XDR Display
                </li>
                <li class="product-key-feature">Memory: 128GB ROM</li>
                <li class="product-key-feature">Processor: Apple A16 Bionic Chip, Hexa Core</li>
                <li class="product-key-feature">
                    Camera: 48 MP + 12 MP Dual Rear & 12 MP Front Camera
                </li>
                <li class="product-key-feature">Battery: 15W MagSafe Wireless Charging</li>
                <li class="product-key-feature">USP: Dynamic Island, IP68 Water Resistant</li>
                <li class="product-key-feature">
                    Display: 6.1 inches (15.54 cm), Super Retina XDR Display
                </li>
                <li class="product-key-feature">Memory: 128GB ROM</li>
                <li class="product-key-feature">Processor: Apple A16 Bionic Chip, Hexa Core</li>
                <li class="product-key-feature">
                    Camera: 48 MP + 12 MP Dual Rear & 12 MP Front Camera
                </li>
                <li class="product-key-feature">Battery: 15W MagSafe Wireless Charging</li>
                <li class="product-key-feature">USP: Dynamic Island, IP68 Water Resistant</li>
                <li class="product-key-feature">
                    Display: 6.1 inches (15.54 cm), Super Retina XDR Display
                </li>
                <li class="product-key-feature">Memory: 128GB ROM</li>
                <li class="product-key-feature">Processor: Apple A16 Bionic Chip, Hexa Core</li>
                <li class="product-key-feature">
                    Camera: 48 MP + 12 MP Dual Rear & 12 MP Front Camera
                </li>
                <li class="product-key-feature">Battery: 15W MagSafe Wireless Charging</li>
                <li class="product-key-feature">USP: Dynamic Island, IP68 Water Resistant</li>
            </ul>
        </div>
    </div>
</div>
