<div class="mb-sort-filter">
    <div class="mb-btn">
        <div>
            <img
                src="/icons/list.svg"
                alt=""
            />
            <p>Sort</p>
        </div>
    </div>
    <div class="mb-btn">
        <div>
            <img
                src="/icons/filter.svg"
                alt=""
            />
            <p>Filter</p>
        </div>
    </div>
</div>

<div class="lg-sort-filter">
    <div class="lg-btn">
        <img
            src="/icons/list.svg"
            alt=""
        />
        <p>Sort</p>
    </div>
    <div class="lg-btn">
        <img
            src="/icons/filter.svg"
            alt=""
        />
        <p>Filter</p>
    </div>
</div>
