<div class="updateAccountContainer">
    <form
        action=""
        class="updateAccountForm"
    >
        <label for="">First Name</label>
        <input
            type="text"
            placeholder="Enter First Name"
        />

        <label for="">Last Name</label>
        <input
            type="text"
            placeholder="Enter Last Name"
        />

        <label for="">Email Id</label>
        <input
            type="email"
            placeholder="Enter Last Name"
        />

        <label for="">Mobile Number</label>
        <input
            type="tel"
            placeholder="Enter Mobile Number"
        />
    </form>
</div>
