$accent-color: #12daa8;
$bg-color: #000000;

header {
    position: sticky;
    top: 0;
    background: $bg-color;
    z-index: 2;
}

.header-sec {
    padding: 12px 14px;
    max-width: 1154px;

    display: flex;
    flex-direction: column;
}

.brand-btns {
    display: flex;
    justify-content: space-between;

    & a {
        text-decoration: none;
    }
}

.header-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn {
    &:hover {
        cursor: pointer;
    }

    & > img {
        height: 42px;
        width: 42px;
    }
}

.brand-name {
    padding: 0px 8px;
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 0;

    &:hover {
        cursor: pointer;
    }

    & > span {
        color: #12daa8;
    }
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-btn {
    &:hover {
        cursor: pointer;
    }

    & > img {
        height: 24px;
        width: 24px;
    }
}

.address-input {
    color: white;

    display: flex;
    align-items: center;

    & img {
        margin: 4px;
        height: 16px;
        width: 16px;
    }
}

.lg-header-btns {
    display: none;
}

.header-search {
    padding: 0px 12px;
    display: flex;
    gap: 8px;
    align-items: center;

    background: white;
    border-radius: 12px;
}

.header-search-btn {
    padding: 4px;

    & > img {
        height: 28px;
        width: 28px;
    }
}

.header-search-input {
    padding: 12px 0px;
    width: 100%;

    font-size: 1.1rem;
    border: none;

    &:focus {
        outline: none;
    }
}

@media (min-width: 768px) {
    .header-sec {
        padding: 20px 14px;

        background: $bg-color;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .brand-name {
        font-size: 3.4rem;
    }

    .header-btns {
        display: none;
    }

    .lg-header-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .header-search {
        max-width: 464px;
        margin: 0px 48px;
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .header-brand {
        flex-direction: row-reverse;
        gap: 40px;
    }
}

@media (min-width: 1180px) {
    .header-sec {
        margin: 0px auto;
        padding: 20px 0px;
    }
}
/****************   MENUS   ****************/
.backdrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #353435d2;
    display: none;
    z-index: 8;
}

/****************   nav menu    ****************/
.menu-sec {
    height: 100vh;
    width: 70vw;
    position: fixed;
    top: 0;
    left: -70vw;
    background: #191919;
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.17);
    transition: left 0.3s ease-in-out;
    transition: display 0s ease-in;
    display: none;
    z-index: 9;
}

.menu-title {
    padding: 20px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    background: #353535;
}

.menu-list {
    padding-left: 24px;
}

.menu-listItem {
    transition: all 200ms ease-in;
    overflow: hidden;

    &:hover {
        background: #12daa8;
    }
}

.menu-listItem > a {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;

    & p {
    }

    & img {
        margin-left: 8px;
        height: 16px;
        width: 16px;
    }
}

@media (min-width: 1024px) {
    .backdrop {
        position: absolute;
        top: 68px;
        right: 0px;
        width: 100%;
    }

    .menu-sec {
        position: absolute;
        height: fit-content;
        width: 278px;
        top: 68px;
        left: 0px;
    }

    .menu-list {
        padding: 0px;
    }

    .account-menu-ctrl-btn {
        display: none;
    }
}

/****************   accounts menu   ****************/
.account-menu-container {
    position: fixed;
    top: 0px;
    right: -400px;
    height: 100%;
    width: 400px;
    z-index: 9;

    background: #191919;
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.17);
    transition: right 0.3s ease-in-out;
}

.show-menu {
    left: 0px;
}

.account-menu-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #353535;

    & > p {
        font-size: 1.1rem;
    }
}

.account-menu-ctrl-btn {
    & > img {
        height: 28px;
        width: 28px;
    }

    &:hover {
        cursor: pointer;
    }
}

.account-menu {
}

.account-menu-item {
    padding: 16px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.menu-item-icon {
    & > img {
        height: 32px;
        width: 32px;
    }
}

.menu-item-name {
    margin-bottom: 4px;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-item-description {
    font-size: 0.8rem;
}

/****************   DIALOG   ****************/
.dialogBackdrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 8;

    background: #353435d2;
}
