/*
    btns on update account page breaks at 1024px
*/

@mixin btn-mixin($width: fit-content, $color: var(--dark-3), $bgColor: transparent, $border) {
    padding: 0.5rem 2rem;
    width: $width;

    font-weight: 700;
    font-size: 14px;
    background: $bgColor;
    color: $color;
    border-radius: 8px;
    border: $border;
}

.btn-light {
    @include btn-mixin($color: var(--dark-3), $border: var(--border-light));

    &:hover {
        cursor: pointer;
        border: var(--border-accent);
    }
}

.btn-dark {
    @include btn-mixin($color: var(--text-color), $border: var(--border-dark));
}

.btn-primary {
    @include btn-mixin($color: var(--dark-3), $bgColor: var(--accent), $border: none);
}

.btn-primary-stretched {
    @include btn-mixin(
        $width: 100%,
        $color: var(--dark-3),
        $bgColor: var(--accent),
        $border: var(--border-accent)
    );

    &:hover {
        cursor: pointer;
        border: var(--border-light);
    }
}
